body{
	background: black;
}

.video-wrapper {
    width: 1200px;
    margin: 100px auto 0;
}

video{

}

.video{
    float: left;
    width: 32.5%;
    margin: 0 5px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: black;
    height: 300px;
    transition: width 1s;
    video{
	    height: 400%;
	    margin: -50% auto 0 auto;
	    top: 0;
	    // left: 0;
    }
}

.middle{
	.video-one, .video-three {
    	width: 24.25%;		
	}
	.video-two {
    	width: 49%;				
	}
}

.left{
	.video-two, .video-three {
    	width: 24.25%;		
	}
	.video-one {
    	width: 49%;				
	}
}

.right{
	.video-one, .video-two {
    	width: 24.25%;		
	}
	.video-three {
    	width: 49%;				
	}
}

