<div class="">
<div class="video-wrapper" ng-class="main.middle">
  <div class="video video-one" ng-click="main.toggleStates('left')">
    <video autoplay="true" loop="true" src="assets/videos/bird.mov">Your browser does not support the <code>video</code> element.</video>
  </div>
  <div class="video video-two" ng-click="main.toggleStates('middle')">
      <video autoplay="true" loop="true" src="assets/videos/bird.mov">Your browser does not support the <code>video</code> element.</video>
  </div>
  <div class="video video-three" ng-click="main.toggleStates('right')">
      <video autoplay="true" loop="true" src="assets/videos/bird.mov">Your browser does not support the <code>video</code> element.</video>
  </div>
</div>
</div>
